*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.containers{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    border-radius: 20px;
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-1{
    background: rgb(105, 105, 255);
}
.container-2{
    background: rgb(255, 81, 81);
}

.container img{
    object-fit: contain;
    width: 200px;
    height: 200px;
    background-position: center;
    flex:1;
    cursor: move;
}
.container h2{
    flex:1;
    cursor: move;
}
.dragging{
    opacity: 0.5;
}
.resetButton{
    padding: 20px 50px;
    border: none;
    background-color: rgba(0, 255, 13, 0.764);
    margin: 60px auto;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.resetButton:hover{
    background-color: rgba(0, 255, 13, 0.947);
}